services:
  db:
    image: postgres:16-alpine
    container_name: credit-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: credit
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 20Acc3ss25
    ports:
      - "5435:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: credit-backend
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - ./backend/.env.production
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: credit-frontend
    restart: unless-stopped
    depends_on:
      - backend
    env_file:
      - ./frontend/.env.production
    ports:
      - "3000:3000"

volumes:
  db_data:
